
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    
</head>
<body>
    <div class="sidebar">
        <ul>
            <a href="#">DashBoard</a>
            <a href="#">Profile</a>
            <a href="#">Listing</a>
           <a href="#">MyCart</a>
            <a href="#">Favorite</a>
           <a href="#">Support</a>
            <a href="#">Setting</a>
        </ul>
    </div>
    <div class="content">
        <app-search></app-search>
        <h1>MainPage</h1>
        <!-- <p>This is the main content of the page.</p> -->
    </div>
</body>
</html>
