<div *ngIf = "products.length > 0 else noproduct" >
    <div class="alert alert-primary" *ngFor = "let product of products">
       

                    Product Id : {{product.id}}
                    <br/>
                    Product Name : {{product.name}}
                    <br/>
                    Product Price : {{product.price}}
                    <br/>
        <div *ngIf="product.qty > 0 else noproduct">
                    Product Qty : {{product.qty}}
        </div>
    </div>

</div>

<ng-template #noproduct >
   <span><div class="alert alert-warning" >
       no product avaialable
    </div></span>
</ng-template>
