<h1 class="alert alert-success" >My Angular Application</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="product">Product <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="delete">Delete</a>
      </li>
     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>




<!-- <h1 class="alert alert-success">My Product Application</h1>
<div class="container">
  <div class="row">
    <div class="col-md-auto">
     <app-product></app-product>
    </div>
    <div class="col-md-auto">
      <app-products></app-products>
          </div>
  </div>

</div> -->