<h1 class="alert alert-info">My Angular appilcation</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="employees" class="nav-link" >Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" >Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="delete" class="nav-link" >Delete</a>
      </li>
      <li class="nav-item" id="logout">
        <a (click)="logout()" class="nav-link" >Logout</a>
      </li>
    </ul>
  </div>
</nav>
<app-employeesdetail></app-employeesdetail>
<router-outlet></router-outlet>

<!-- <div class="container">-
    <div class="row">
      <div class="col-md-auto">
      <app-employee></app-employee>
      </div>
      <div class="col-md-auto">
        <app-employees></app-employees>
        </div>
        <div class="col-md-auto">
          <app-delete-emp></app-delete-emp>
          </div>
    </div>
  </div> -->