@model DoctorApp.Models.Doctor

@{
    ViewData["Title"] = "UpdateDoctorSpeciality";
}

<h1>UpdateDoctorSpeciality</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateDoctorSpeciality">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div> *@
          @*   <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfExp" class="control-label"></label>
                <input asp-for="YearOfExp" class="form-control" />
                <span asp-validation-for="YearOfExp" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Doctorphone" class="control-label"></label>
                <input asp-for="Doctorphone" class="form-control" />
                <span asp-validation-for="Doctorphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorEmail" class="control-label"></label>
                <input asp-for="DoctorEmail" class="form-control" />
                <span asp-validation-for="DoctorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pic" class="control-label"></label>
                <input asp-for="pic" class="form-control" />
                <span asp-validation-for="pic" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
